<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Cognito Test</title>
        <link rel="stylesheet" href="./css/wingcss.css">
        <script src="./js/aws-cognito-sdk.min.js"></script>
        <script src="./js/amazon-cognito-identity.min.js"></script>
        <script src="./js/aws-sdk.min.js"></script>
        <script src="./js/vue.js"></script>
        <style type="text/css">
            #login input {
                width: 100px;
            }
        </style>
    </head>
    <body>
        <h1>Login</h1>
        <div id="login">
            <input type="text" v-model="username" placeholder="user name"><br>
            <input type="text" v-model="password" placeholder="password"><br>
            <button class='outline' v-on:click="login">Login</button>
            <hr>
        </div>
        <script src="./js/login.js"></script>
        <a href="/">back</a>
    </body>
</html>
