<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Cognito Test</title>
        <link rel="stylesheet" href="./css/wingcss.css">
        <script src="./js/aws-cognito-sdk.min.js"></script>
        <script src="./js/amazon-cognito-identity.min.js"></script>
        <script src="./js/vue.js"></script>
        <style type="text/css">
            #signup input {
                width: 100px;
            }
            #signup textarea {
                width: 400px;
            }
        </style>
    </head>
    <body>
        <h1>Sign up</h1>
        <div id="signup">
            <input type="text" v-model="username" placeholder="user name"><br>
            <input type="text" v-model="password" placeholder="password"><br>
            <input type="email" v-model="email" placeholder="email"><br>
            <input type="text" v-model="phone_number" placeholder="phone_number">(example: +818054917635)<br>
            <input type="text" v-model="given_name" placeholder="given_name"><br>
            <input type="text" v-model="picture" placeholder="picture"><br>
            <button class='outline' v-on:click="regist">Sign Up</button>
            <hr>
        </div>
        <script src="./js/sign-up.js"></script>
        <a href="/">back</a>
    </body>
</html>
